# Thu m?c c?u hình c?a Visual Studio
.vs/
*.user
*.suo
*.db
*.opendb
*.vc.db

# Thu m?c build
x64/
x86/
Debug/
Release/
out/
build/

# File biên d?ch và th?c thi
*.obj
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.idb

# File log (Lo?i b? luôn file Engine.log chúng ta v?a t?o)
*.log

# B? qua các thu vi?n bên th? ba (External) và NuGet packages
ZEngine/External/
packages/

# -------------------------------------------------------------------
# FILE ASSETS (Hình ?nh & Models)
# -------------------------------------------------------------------

# Hình ?nh & Textures
*.png
*.jpg
*.jpeg
*.tga
*.bmp
*.dds
*.hdr
*.psd
*.exr

# 3D Models
*.fbx
*.gltf
*.glb
*.blend
*.dae
*.stl
*.bin
*.mtl
# *.obj (Ðã du?c c?u hình b? qua ? ph?n "File biên d?ch" phía trên)